main{
	display: flex;
	align-items: center;
	padding-top: none;
	padding-bottom: 40px;
	background-color: rgb(248, 249, 250);
	margin: 0;
	font-family: var(--bs-font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center !important;
	flex-direction: column;
  }

  body{
	background-color: rgb(248, 249, 250);
  }

  ::after, ::before {
	box-sizing: border-box;
  }

  .g-signin2{
	margin-top: 10%;
	border: green solid;
  }

